@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Add cursor pointer by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Fix Stream Chat height in session */
.str-chat {
  height: 100% !important;
}

.str-chat__container {
  height: 100% !important;
}

.str-chat-channel {
  height: 100% !important;
  min-height: 0 !important;
}

.str-chat__main-panel {
  min-height: 0 !important;
}

.str-chat__message-list-scroll {
  overflow-y: auto !important;
}